.mainTitle {
  color: white;
  text-align: center;
}

p {
  color:white;
}

.background {
  background-color: black;
}

.body {
  margin: auto;
  width: 400px;
}

.twoColumn {
  float: left;
  width: 50%;
  padding-top: 10px;    
  padding-bottom: 10px;
}

.threeColumn {
  float: left;
  width: 33%;
  padding-top: 10px;    
  padding-bottom: 10px;    
}

.fourColumn {
  float: left;
  width: 25%;  
  padding-top: 10px;    
  padding-bottom: 10px;      
}




/*test zone*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;   
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: magenta;
  font-weight: 600;
}